@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte-título: 'Passion One',bold;
    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-texto: 'Sriracha';
}

*{ 
   margin: 0px;
   padding: 0px;
} 

header{
    background-color: black;
    text-align: center;
    padding: 50px;
    
}

header>h1{
    font-size: 10vw;
    color: white;
    font-family: var(--fonte-título);
    font-weight: bold;
    font-variant: small-caps;/*Peguei do Guanabara esse estilo*/
}

header>p{
    font-size: 2vw;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    font-family:var(--fonte-texto);
    font-size: 3.5vw;
    /*line-height: auto;*/
    line-height: 2em;
    /*padding: 60px 0px 90px 30px;*/
    padding:10vh 0px 10vh 30px;
    text-align: left;
    
}

section.p2{
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset rgba(0, 0, 0, 0.489) 3px 4px 15px 0px;
    /*padding: 60px 0px 90px 30px;
    padding: 60px 30px;*/
    
}

article.a1{
    background-image: linear-gradient(to right,black, rgba(0, 0, 0, 0.153));  
    /*width: max-content;*/
    color: white;
    padding: 10px;
    display:inline-block;
    
}

section.p3{
    height: auto;
    background: black url(imagens/background002.jpg) bottom center no-repeat fixed;
    background-size: cover;
    box-shadow: inset rgba(0, 0, 0, 0.489) 3px 4px 15px 0px;}

article.a2{
    background-color: rgba(0, 0, 0, 0.508);  
    /*width: max-content;*/
    display:inline-block;
    color: white;
    padding: 10px;
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--font-padrão);
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    color: white;
}